main{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info{
    align-self: center;
}

.info-title{
    color: #333;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.info-button{
    border: none;
    border-radius: 20px;
    color: #333;
    background-color: #fb8c00;
    font-weight: bolder;
    padding: 12px 24px;
}

.personajes{
    padding: 20px;
    margin: 100px 0;
}

.personajes-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(50px,170px));
    gap: 30px;
    justify-content: center;
}

.personajes-item{
    width: 100%;
    height: 100%;
}

.personajes-info{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}